<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <body>
    	    <input type="button" value="開啟辨識" onclick="javascript:location.href='http://localhost:9090/retrieveface'"><br><br>
    	    <form method="POST" enctype="multipart/form-data" action="/upload">
               <input type="file" name="file" value="上傳照片"><br>
               <input type="submit" value="上傳照片" />
            </form>
            <br>
            <p th:text="'你選擇的檔案: ' + ${picname}"></p><br>
            <form method="POST" action="/trainface">
                <input type="text" name="name" value="輸入姓名">
                <input type="submit" value="訓練" />
            </form>
            <p th:text="'你的姓名為: ' + ${name}"></p>
    </body>
</html>